        <hr/>
        <footer>
            <p><a href="http://www.gyratesky.com" target="_blank">Gyrate</a> 2012</p>
        </footer>
    </div>
</body>
<script src="/javascripts/jquery-1.7.1.js"></script>
<script src="/javascripts/bootstrap.js"></script>


    <script src="/javascripts/index.js"></script>


</html>