<form method="post" action="/post" class="well form-inline center"  enctype="multipart/form-data" >
    <input type="text" class="span8" name="post">

    <button type="button" class="btn" id="btn_send_pic">
        <i class="icon-picture"></i>
    </button>
    <button type="button" class="btn">
        <i class="icon-facetime-video"></i>
    </button>
    <button type="button" class="btn">
        <i class="icon-tint"></i>
    </button>
    <button type="submit" class="btn btn-success">
        <i class="icon-comment icon-white"></i> 发言
    </button>

    <p id="p_send_pic"></p>

    <input type="file" name="pic" style="display:none;" id="file_send_pic" />

</form>